.vs/
Bin/*.exe
Bin/*.ilk
Bin/*.idb
Bin/*.pdb
Bin/*.txt
Bin/imgui.ini
Intermediate/
Lib/
Temp/
*.aps
Source/**/Bin/
Source/Server/Bin/
Local/*.user
*.user
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.opendb
*.suo
